<head>
    <meta charset="utf-8">
    <meta property="og:image" content="https://santoyodesign.com/og_image.jpg" />
    <meta property="og:title" content="Santoyo Design" />
    <meta property="og:description" content="Windows, Siding, Doors, Roofing & More" />
    <meta property="og:url" content="https://santoyodesign.com/" />
    <meta property="og:type" content="website" />

    <!--    TODO add twitter card info -->
    <!--    <meta name="twitter:card" content="summary_large_image">-->
    <!--    <meta name="twitter:site" content="@nytimes">-->
    <!--    <meta name="twitter:creator" content="@SarahMaslinNir">-->
    <!--    <meta name="twitter:title" content="Parade of Fans for Houston’s Funeral">-->
    <!--    <meta name="twitter:description" content="NEWARK - The guest list and parade of limousines with celebrities emerging from them seemed more suited to a red carpet event in Hollywood or New York than than a gritty stretch of Sussex Avenue near the former site of the James M. Baxter Terrace public housing project here.">-->
    <!--    <meta name="twitter:image" content="http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg">-->

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="src/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="src/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="src/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="src/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="192x192" href="src/images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="src/images/android-chrome-512x512.png">
    <link href="src/css/index.css" rel="stylesheet" type="text/css" />
    <title>Santoyo Design | {{title}}</title>
</head>
